<ion-header>
  <ion-toolbar>
    <ion-title>Singapore</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
Singapore's Culture
Singapore's national language is Malay. There are four official languages in Singapore: Malay, English, Chinese, and Tamil, and you'll probably also hear Singlish - the unique mix of Singapore's official languages and English. 75% of Singaporeans are ethnically Chinese, mostly from the Hokkien or Teochew communities. An estimated 6% of Singaporeans are Tamil, heralding from Southern India, and about 15% are Malay Muslims. That leaves 4% of Singaporeans with mixed or other heritage.

Singapore's flag is red and white with a crescent moon and five stars. The five stars symbolize five ideals - democracy, peace, progress, justice and equality - while the moon symbolizes a rising nation (it was founded in 1965). The white suggests purity while the red denotes the equality of mankind.

Singaporeans are very polite and there's a good reason for that. The government taught manners under the National Courtesy Campaign. While the manners campaign has been running since the 1970s, it got a rebranding in 2001, and is better known now as Singapore Kindness Movement.

Male Singaporeans must serve in the military for 1-2 years.

Singapore ranks among the lowest nations for freedom of the press, coming in at 151 of 180 nations according to the Reporters without Borders survey.

Singapore has a unique national icon: a half lion, half fish creature known as the Merlion. You'll find Merlion statues throughout Singapore, but don't miss the Sentosa Merlion as you can go inside!

Switzerland and Singapore are the 2 top countries in the world for expats due to quality of life. According to some estimates, Singapore has around 1.5 million expats. The country's expat population is split, roughly 50-50, between corporate workers and blue-collar domestic or construction workers. The expats also enjoy the widespread public services, low-key tax framework, near no corruption, and high level of competition (Singapore falls third, coming in right behind Switzerland).

Singapore has its own unique way of honoring Feng shui: the towers in the Suntec City development are shaped into the palm of a hand, which is a beneficial Feng shui symbol. Suntec City is also home to the largest fountain in the world, which is known as the Fountain of Wealth. At the time of its construction, the fountain cost $6 million to build.

Singapore's Economy
The Prime Minister of Singapore out-earns the President of the United States (and many other global leaders) by a multiple of four or five, with an annual salary of $1.7 million. The Swiss Prime Minister earned around $500,000, in contrast.

Singapore is open for business! From 2006 through 2016, the tiny country topped the World Bank's index of easiest countries to do business with. Times have changed and the unlikely New Zealand is now the easiest country to do business with. Singapore ranks as the second most easy nation with which to do business, followed by Denmark.

Who wants to be a millionaire? That's something one in six Singaporeans don't have to worry about, because they already have over $1 million in assets!

Given all this economic data, it might not surprise you to know that Singapore is among the most expensive cities in the world. For 2019, Singapore shares the top spot with Hong Kong and Paris - a dubious honor.

Singapore's national anthem could be in your wallet. It's printed in very tiny text on the back of the $1,000 note.

Singapore's Food
At a hawker center you could enjoy a Michelin starred meal of chicken and rice for as little as $2. Singapore's hawker centers provide some of the best food in the nation, and have drawn interest from celebrity chefs including Gordon Ramsay.

All that yummy food you're eating has to come from somewhere, and only 7% of the food that's eaten in Singapore is grown locally. There are farms in Kranji, in the north of Singapore, as well as on top of the roofs of condos and shopping centers.

The Singapore Sling is an old-fashioned bar favorite. The cocktail, which is made with gin, Cointreau, Dom Benedictine, cherry Brandy, Angostura bitters, pineapple juice, grenadine, and limes, was first served in the famous Raffles Hotel in 1915.

Fancy a hug? Then head to the National University of Singapore where you can grab a coke from a first of its kind "Hug Me" Coca-Cola vending machine.

Some estimates suggest that two restaurants open every day in Singapore - that's how much Singaporeans love to eat. An unfortunate reality is that by their fifth year, 40% of those restaurants have closed!
<ion-button shape="round" href="home">Home page</ion-button>
</ion-content>
