<ion-header>
  <ion-toolbar>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
“The ‘About Us’ section of your website is the online version of your elevator pitch. Within a few seconds, visitors should know who you are, what you do, and what makes you different,” comments Amanda Meade from LeadG2.

The good news is their About page walks the talk. Meade writes, “our About Us page at Leadg2 briefly describes who we are, but more importantly, we focus on how we’re different than the rest.

We connect with our target audience by providing evidence of how we used the same services we offer clients to become as successful as we are today. Then, if visitors want to see our smiling faces, they can scroll down and learn more about the team.”

John Kelleher from ESM Inbound discusses their About page as an example. Originally, Kelleher wasn’t a fan of About pages: “Personally, I hate ‘About Us’ pages. More often than not, they go on and on about things that a potential customer doesn’t care about. ‘172 years of combined experience’ — honestly, who cares?

As a result, I resisted having an ‘About Us’ page on our website. I finally caved in when we were going through a major redesign and our team made a compelling case that I’m an exception rather than a rule. But I insisted that our ‘About Us’ page showed why we were really ‘About The Customer’.”

So what makes their About Us page unique? The simple fact that’s it written with their target customer in mind.

Kelleher elaborates: “Our ‘About Us’ page showcases our mission and values in a way that shows we believe we’ll only succeed when our clients are happy. We’ve avoided as much ‘history of the company’ information as possible in favor of ‘here are some things about us that you might actually care about’. I’m so much happier with this than having a page that does nothing but inflates my ego.”

Editor’s note: Struggling to keep track of your audience? Use this free Google Analytics Organic Traffic Dashboard Template to see your overall website engagement from the traffic you’re generating from search engines.
<ion-button shape="round" href="home">Home Page</ion-button>
</ion-content>
