<ion-header>
  <ion-toolbar>
    <ion-title>Thailand</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
1. Thailand was actually known as Siam until 1939 (and again from 1945 to 1949).
2. Siamese cats are native to Thailand.
3. In Thailand, it is illegal to leave your house without underwear on.
5. Thailand is the world's largest exporter of rice.
6. Thailand is a constitutional monarchy, much like England.
7. Thai brothers Eng & Chang Bunker inspired the term "Siamese twins" and were joined at the chest. They died in 1873.
8. Bangkok's real name: Krung Thep Mahanakhon Amon Rattanakosin Mahinthara Ayuthaya Mahadilok Phop Noppharat Ratchathani Burirom Udomratchaniwet Mahasathan Amon Piman Awatan Sathit Sakkathattiya Witsanukam Prasit.
10. Around ninety per cent of Thai people are Buddhist.
11. Muay Thai boxing, Thailand's national sport, is known as "the art of eight limbs".
12. It is illegal to step on any Thai currency.
14. Thais must always keep their head lower than that of anyone older or more important than them.
15. It is illegal to drive shirtless in Thailand.
16. Thailand was voted the world's fifth friendliest country by Rough Guides readers.
17. A Thai woman lived for 33 days & nights in a glass room full of scorpions, setting a new world record.
<ion-button shape="round" href="home">Home page</ion-button>
</ion-content>
